body {
  font-family: sans-serif;
  margin: 20px
}

.navbar {
  display: flex;
}

.navbar > *:not(:last-child) { margin-right: 20px; }

.page { margin-top: 20px; }

.username-submit-button {
  background-color: #4CAF50;
  border: 3px solid #555;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;    
}

.username-text-box {
  border: 3px solid #555;
  width: 40%;
  padding: 16px 32px;
  margin: 4px 2px;
  outline: none;
}

.search-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.navigate-button {
  background-color: #4CAF50;
  border: 3px solid #555;
  color: white;
  padding: 18px;
  text-align: left;
  outline: none;
  font-size: 12px;
  width: 25%;
  margin: 10px;
  /* float: center; */
}

.return-to-archives {

}

.notes {
  width: 50%;
  height: 70%;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  border: 3px solid #555;
  background-color: #f8f8f8;
  resize: none;
  float:left;
  margin-left: 10px;
}


.game-page {
  width: auto;
  height: auto;
}


.game-view {
  width: 40%;
  height: 100%;
  padding: 1%;
  margin-left: 10px;
  border: 3px solid #555;
  float:left;
}

.chessboard {
  border: 1px solid #555;
  overflow: hidden;
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.square {
  border: 1px solid #555;
  position: relative;
  float: left;
  top: 0; 
  left: 0;
  bottom: 0;
}

.dark  {
  background-image: url('/res/board/dark-square.png');
}

.light {
  background-image: url('/res/board/light-square.png');
}

.piece {
  width: 95%;
  height: 95%;
  position: relative;
  float: left;
}

.games-banner {
  background-color: #4CAF50;
  border: 3px solid #555;
  color: white;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: left;
  outline: none;
  font-size: 18px;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.collapsible {
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 2px;
  border: none;
}

mark {
  background-color: #fff;
} 

.active, .collapsible:hover {
  /* background-color: #fff; */
}

.collapsible-icon {
  font-weight: bold;
  padding-right: 2%;
  margin-left: 3%;
}

.games-body {
  border: 3px;
  border-color: #555;
  margin-left: 5%;
  margin-right: 5%;
  width: 60%;
}


.game-url {
  padding-left: 7px;
  text-decoration: none;
  color: #000
}

.games {
  /* border-bottom: #555; */
}

.content-active {
  width: 100%;
  max-height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 3%;
}

.content-hidden {
  max-height: 0;
  overflow: hidden;
  width: 0;
}

ul {
  list-style:none;
}

.game-title {
  padding-left: 5%;
}

.pgn {
  overflow: hidden;
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: auto auto;
  padding-left: 5%;
}

.raw-pgn {
  padding-right: 0px;
  font-size: 10px;
  white-space: pre-wrap;
}

::selection {
  background-color: rgba(0,0,0,0);
  /* color:#fff  */
}

.clipboard {
    cursor: pointer;
    background-color: #fff;
    outline: none;
    font-size: 30px;
    border: none;
}